@import "tailwindcss";

:root {
  --background: #fcf9f7;
  --foreground: #1b1c1b;
  --primary: #153951;
  --on-primary: #ffffff;
  --secondary: #645d57;
  --on-secondary: #ffffff;
  --surface: #fcf9f7;
  --on-surface: #1b1c1b;
  --outline: #73787d;
  --outline-variant: #c2c7cd;
  --surface-container-lowest: #ffffff;
  --surface-container-low: #f6f3f1;
  --surface-container: #f0edeb;
  --surface-container-high: #eae8e6;
  --surface-container-highest: #e5e2e0;
  --primary-container: #2f5069;
  --on-primary-container: #a0c2df;
  --secondary-container: #ebe1d9;
  --on-secondary-container: #6a635d;
}

@theme inline {
  --color-background: var(--background);
  --color-on-background: var(--foreground);
  --color-primary: var(--primary);
  --color-on-primary: var(--on-primary);
  --color-secondary: var(--secondary);
  --color-on-secondary: var(--on-secondary);
  --color-surface: var(--surface);
  --color-on-surface: var(--on-surface);
  --color-outline: var(--outline);
  --color-outline-variant: var(--outline-variant);
  --color-surface-container-lowest: var(--surface-container-lowest);
  --color-surface-container-low: var(--surface-container-low);
  --color-surface-container: var(--surface-container);
  --color-surface-container-high: var(--surface-container-high);
  --color-surface-container-highest: var(--surface-container-highest);
  --color-primary-container: var(--primary-container);
  --color-on-primary-container: var(--on-primary-container);
  --color-secondary-container: var(--secondary-container);
  --color-on-secondary-container: var(--on-secondary-container);

  --font-display: "Noto Serif", serif;
  --font-headline: "Noto Serif", serif;
  --font-body: "Manrope", sans-serif;
  --font-label-caps: "Manrope", sans-serif;

  --spacing-margin-edge: 64px;
  --spacing-section-gap: 128px;
  --spacing-gutter: 32px;
  --spacing-container-max: 1280px;
  --spacing-unit: 8px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Manrope", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  vertical-align: middle;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.font-cabinet {
  font-family: "Cabinet Grotesk", sans-serif;
}

.font-helvetica {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

.font-noto-serif {
  font-family: "Noto Serif", serif;
}
